<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deeepssj.healthcare">

    <application
        android:allowBackup="true"
        android:icon="@drawable/medi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/medi"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCare">
        <activity android:name=".Flu" />
        <activity android:name=".Cancer" />
        <activity android:name=".open_forum" />
        <activity android:name=".expert_forum" />
        <activity android:name=".Checkup" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>